:root{
    --c-negro:#393939;
    --c-blanco:#fff;
    --c-azul:#0070cc;
    --c-rojo:#d53b00;
    --c-gris:#999;
    --c-marron:#1d1d1d;
    
    --s-primary:rgba(0,0,0,.2);
    
       
}















// @media (prefers-color-scheme: dark) {
//     :root {
      
//       --negro: #393939;
//     }
//   }
//   @media (prefers-reduced-motion: reduce) {
//     * {
//       -webkit-animation: none !important;
//       animation: none !important;
//       transition: none !important;
//     }
//   }